.header {
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
}

.inner {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
  font-weight: normal;
}

.title a {
  color: #444;
}
